/* Adicione este trecho de código ao seu arquivo de estilo CSS */
.custom-button {
  background-color: #7e7e7e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
  display: flex;
  margin: auto;
}

.custom-button:hover {
  background-color: #6b6b6b;
}

.mdc-snackbar__surface {
  filter: opacity(0.1);
}