<div class="container">
  <div class="first">
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a> <br>
    {{anoAtual}}
  </div>

  <div class="first">
    {{'Made by' | translate }} <br><a style="font-weight: 500" matTooltip="Github" class="name"
      href="https://github.com/alvaroaxsmith" target="_blank">Alvaro
      Ferreira</a>
  </div>
  <div>
    {{'Technologies Used' | translate }}
    <div class="flex-icons">
      <fa-icon [icon]="faAngular" alt="Angular" matTooltip="Angular"></fa-icon>
      <fa-icon [icon]="faNodeJs" alt="NodeJs" matTooltip="NodeJs"></fa-icon>
    </div>
  </div>
</div>