<div class="container">
  <div class="first">
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a> <br>
    © 2022
  </div>

  <div class="first">
    {{'Made by' | translate }} <br><a class="name" href="https://github.com/alvaroaxsmith" target="_blank">Álvaro Ferreira</a>
  </div>
  <div>
    {{'Technologies Used' | translate }}
    <div class="flex-icons">
      <fa-icon [icon]="faAngular" alt="Angular"></fa-icon>
      <fa-icon [icon]="faNodeJs" alt="NodeJs"></fa-icon>
    </div>
  </div>
</div>