.container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 12px;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0px 10px;
  height: 40px;
}
.flex-icons, .name {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
@media (min-width:2000px) {
  .container {
    font-size: 28px;
    padding: 20px 20px 0px 20px;
    height: 80px;
  }
 }