.container {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 12px;
  font-weight: 800;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 0px 10px;
  height: 40px;
}
.flex-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}