<nav aria-label="Navegação principal">
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/" mat-button>{{ "HOME" | translate }}</a>
        </li>
        <li routerLinkActive="active">
            <a mat-button routerLink="/about-me">{{ "ABOUT ME" | translate }}</a>
        </li>
        <li routerLinkActive="active">
            <a mat-button routerLink="/courses">{{ "COURSES" | translate }}</a>
        </li>
        <li routerLinkActive="active">
            <a mat-button routerLink="/portfolio">{{ "PROJECTS" | translate }}</a>
        </li>
        <li routerLinkActive="active">
            <a mat-button routerLink="/contact">{{ "CONTACT" | translate }}</a>
        </li>
        <li class="language no-hover">
            <mat-menu #menu="matMenu">
                @for (lang of translate.getLangs(); track lang) {
                <button mat-menu-item (click)="translate.use(lang)">
            {{ lang }}
          </button> }
            </mat-menu>

            <button mat-icon-button type="button" class="language-form" matTooltip="{{ 'TRANSLATE' | translate }}" [attr.aria-label]="'TRANSLATE' | translate" [matMenuTriggerFor]="menu">
        <mat-icon>translate</mat-icon>
      </button>
        </li>
        <li class="mobile-menu-trigger">
            <button mat-stroked-button type="button" class="menu-button" (click)="openDialog()" aria-label="Abrir menu de navegação">
        Menu
      </button>
        </li>
    </ul>
</nav>