@media (min-width: 320px) {
  ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
  }
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  a {
    text-decoration: none;
    color: #000;
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  li:not(:first-child) {
    display: none;
  }
  li:last-child {
    display: flex;
  }
}

@media (min-width: 600px) {
  li:not(:first-child) {
    display: flex;
  }
  li:last-child {
    display: none;
  }
  hr {
    display: none;
  }
  li:hover, li.active {
    border-top: #000 6px solid;
    a {
      margin-top: 26px;
    }
    .language-form {
      margin-top: 32px;
    }
  }
  li:not(.active):hover {
    border-top:   hsl(0, 0%, 37%) 6px solid;
  }
  .language:hover {
      border-top: none;
  }


@media (min-width: 2000px) {
  a {
    margin-top: 2.5rem;
    font-size: 2rem;
  }
}


 }