<ul>
  <li routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}" routerLink="/" style="cursor: pointer"><a routerLink="/" >HOME</a></li>
  <li routerLinkActive="active" routerLink="/about-me" style="cursor: pointer"><a routerLink="/about-me">{{'ABOUT ME' | translate}}</a></li>
  <li routerLinkActive="active" routerLink="/courses"><a routerLink="/courses">{{'COURSES' | translate }}</a></li>
  <li routerLinkActive="active" routerLink="/portfolio" style="cursor: pointer"><a routerLink="/portfolio">PORTFOLIO</a></li>
  <!-- <li><a routerLink="/blog">Blog</a></li> -->
  <li routerLinkActive="active" routerLink="/contact" style="cursor: pointer"><a routerLink="/contact">{{'CONTACT' | translate }}</a></li>
  <li class="language no-hover">
      <a class="language-form">
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang); menu.closed">
            {{ lang }}
          </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>translate</mat-icon>
        </button>
      </a>
  </li>
  <li><a class="menu" (click)="openDialog()">MENU</a></li>

</ul>

