<ul>
  <li routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}" routerLink="/" style="cursor: pointer"><a routerLink="/" >HOME</a></li>
  <li routerLinkActive="active" routerLink="/about-me" style="cursor: pointer"><a routerLink="/about-me">{{'ABOUT ME' | translate}}</a></li>
  <!-- <li routerLinkActive="active"><a href="https://scythe-torta-833.notion.site/84419d1749e74d78a0848098429cbe5f?v=89a670745709494c9548611883abc04e" target="_blank">{{'Certifications' | translate }}</a></li> -->
  <li routerLinkActive="active" routerLink="portfolio" style="cursor: pointer"><a routerLink="portfolio">PORTFOLIO</a></li>
  <!-- <li><a routerLink="/blog">Blog</a></li> -->
  <li routerLinkActive="active" routerLink="/contact" style="cursor: pointer"><a routerLink="/contact">{{'CONTACT' | translate }}</a></li>
  <li class="language">
      <a class="language-form">
        <select
            class="form-control"
            style="cursor: pointer"
            #selectedLang
            (change)="switchLang(selectedLang.value)">
            <option *ngFor="let language of translate.getLangs()"
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
            </option>
        </select>
      </a>
  </li>
  <li><a class="menu" (click)="openDialog()">MENU</a></li>

</ul>

