<app-navbar></app-navbar>
<h1>Reach out to me!</h1>
<section>

  <div class="icons">
    <div class="contact">
      <fa-icon [icon]="faGithub" alt="Github"></fa-icon><a href="https://github.com/alvaroaxsmith">Github</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faLinkedin" alt="Linkedin"></fa-icon><a href="https://www.linkedin.com/in/alvaromachadoferreira/">Linkedin</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faEnvelope" alt="Gmail"></fa-icon><a href="mailto:machadoferreiraalvaro@gmail.com">Gmail</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faLocation" alt="Location"></fa-icon><span>São Paulo - SP, Brazil</span>
    </div>
  </div>
</section>