<app-navbar></app-navbar>
<h1>{{'Reach out to me!' | translate }}</h1>
<small>{{'Send me a message' | translate }}</small>
<section>

  <div class="icons">
    <div class="contact">
      <fa-icon [icon]="faGithub" alt="Github"></fa-icon><a href="https://github.com/alvaroaxsmith" target="_blank">Github</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faLinkedin" alt="Linkedin"></fa-icon><a href="https://www.linkedin.com/in/alvaromachadoferreira/" target="_blank">Linkedin</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faEnvelope" alt="Gmail"></fa-icon><a href="mailto:machadoferreiraalvaro@gmail.com" target="_blank">Gmail</a>
    </div>
    <div class="contact">
      <fa-icon [icon]="faLocation" alt="Location"></fa-icon><span style="pointer-events: none;">{{'Ribeirão Pires - SP, Brazil' | translate }}</span>
    </div>
  </div>
</section>