section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
h1 {
  font-family: 'Lexend Tera', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(12px, 2rem, 100%);
  line-height: 15px;
  text-align: center;
  margin-top: 6rem;
}

small {
  display: flex;
  justify-content: center;
}

.contact {
  padding-top: 1rem;
}

.contact a, .contact span{
  text-decoration: none;
  color: #444;
  padding-left: 2rem;
}

.contact a:hover, .contact span:hover {
  color: #000 ;
}

fa-icon {
  font-size: 1.5rem;
  color: #444;
}

.contact:first-child {
  margin-top: 5rem;
}

@media (min-width:2000px) {
  h1 {
    font-size: 150%;
    margin-top: 10rem;
  }
  .contact a, .contact span{
    font-size: 2rem;
    padding-left: 1rem;
  }

  fa-icon {
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }

  section {
    height: 40%;
  }

  .contact {
    padding-top: 3rem;
  }
}