<app-navbar></app-navbar>

<h1>{{'Projects' | translate }}</h1>

<mat-progress-spinner class=".mat-progress-spinner-circle" mode="indeterminate" *ngIf="projectList == null; else content">
</mat-progress-spinner>

<ng-template #content>
  <div class="portfolio-container" *ngFor="let project of projectList">
    <mat-card class="project-card">
      <mat-card-title-group>
        <mat-card-title>{{ project.name | translate }}</mat-card-title>
        <mat-card-subtitle>{{ project.tech | translate }}</mat-card-subtitle>
           <button mat-button></button>
           <a mat-raised-button href="{{ project.repo }}" target="_blank" rel="noopener noreferrer">{{'Repository' | translate }}</a>
      </mat-card-title-group>
      <mat-card-content>
        <p>
          {{ project.description | translate }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

