<app-navbar></app-navbar>
<section>
  <h1>{{'Welcome to my website' | translate}}</h1>
  <ng-container *ngIf="isLoadingImage; else imageLoaded">
    <figure class="spinner">
      <mat-spinner diameter="50"></mat-spinner>
    </figure>
  </ng-container>
  <ng-template #imageLoaded>
    <figure>
      <img [src]="imageUrl" alt="">
    </figure>
  </ng-template>

  <h2>{{'Hi, I’m Alvaro Ferreira' | translate}}</h2>
  <h3>{{'SOFTWARE ENGINEER' | translate }}</h3>
</section>
<app-footer></app-footer>