<button mat-icon-button mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>

<ul>
  <li>
    <a routerLink="/about-me" mat-button mat-dialog-close>{{ "ABOUT ME" | translate }}</a>
  </li>
  <li>
    <a routerLink="/courses" mat-button mat-dialog-close>{{ "COURSES" | translate }}</a>
  </li>
  <li><a routerLink="/portfolio" mat-button mat-dialog-close>{{ "PROJECTS" | translate }}</a></li>
  <!-- <li><a routerLink="/blog" mat-dialog-close>Blog</a></li> -->
  <li>
    <a routerLink="/contact" mat-button mat-dialog-close>{{ "CONTACT" | translate }}</a>
  </li>
  <li class="language">
    <a class="language-form">
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let lang of translate.getLangs(); trackBy: trackByLang"
          (click)="switchLang(lang); menu.close">
          {{ lang }}
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>translate</mat-icon>
      </button>
    </a>
  </li>

</ul>