ul {
  list-style-type: none;
  margin: 0;
  text-align: left;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: 'Lexend Tera';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3em;
  color: #555555;
  text-align: left;
}

li {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 20vw;
  padding-right: 20vw;
}

mat-dialog-actions {
  padding: 0;
  margin: 0;
}