<h1>{{ "Courses" | translate }}</h1>
<section>
  <div class="table-container">
    <mat-form-field>
      <mat-label>{{ "Filter" | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Tecnologia" #input />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Field Column -->
      <ng-container matColumnDef="field">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "FIELD" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.field }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "NAME" | translate }}
        </th>
        <td class="dialog" mat-cell *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>


      <!-- School Column -->
      <ng-container matColumnDef="school">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "SCHOOL" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.school }}</td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "HOURS" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.time }}</td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ "DATE" | translate }}
        </th>
        <td mat-cell *matCellDef="let row">{{ row.date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openDialog(row)"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" *ngIf="showNoDataMessage">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>
    <mat-progress-spinner *ngIf="dataSource.data.length === 0" mode="indeterminate"></mat-progress-spinner>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" [length]="dataSource.data.length"
      aria-label="Select page of courses"></mat-paginator>
  </div>
</section>