<mat-dialog-actions align="start">
  <span class="close" mat-dialog-close>X</span>
</mat-dialog-actions>

<ul>
  <li>
    <a routerLink="/about-me" mat-dialog-close>{{ "ABOUT ME" | translate }}</a>
  </li>
  <li>
    <a routerLink="/courses" mat-dialog-close>{{ "COURSES" | translate }}</a>
  </li>
  <li><a routerLink="/portfolio" mat-dialog-close>PORTFOLIO</a></li>
  <!-- <li><a routerLink="/blog" mat-dialog-close>Blog</a></li> -->
  <li>
    <a routerLink="/contact" mat-dialog-close>{{ "CONTACT" | translate }}</a>
  </li>
  <li class="language">
    <a class="language-form">
      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let lang of translate.getLangs()"
          (click)="translate.use(lang); (menu.closed)"
        >
          {{ lang }}
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>translate</mat-icon>
      </button>
    </a>
  </li>
</ul>
