<mat-dialog-actions align="start">
  <span class="close" mat-dialog-close>X</span>
</mat-dialog-actions>

<ul>
  <li>
    <a routerLink="/about-me" mat-dialog-close>{{ "About me" | translate }}</a>
  </li>
  <li>
    <a
      href="https://scythe-torta-833.notion.site/84419d1749e74d78a0848098429cbe5f?v=89a670745709494c9548611883abc04e"
      target="_blank"
      mat-dialog-close
      >{{ "Certifications" | translate }}</a
    >
  </li>
  <li><a routerLink="/portfolio" mat-dialog-close>Portfolio</a></li>
  <!-- <li><a routerLink="/blog" mat-dialog-close>Blog</a></li> -->
  <li>
    <a routerLink="/contact" mat-dialog-close>{{ "Contact" | translate }}</a>
  </li>
  <li>
    <a>
      <select
        class="form-control"
        #selectedLang
        (change)="switchLang(selectedLang.value)"
      >
        <option
          *ngFor="let language of translate.getLangs()"
          [value]="language"
          [selected]="language === translate.currentLang"
        >
          {{ language }}
        </option>
      </select>
    </a>
  </li>
</ul>
