$color: rgb(0, 0, 0);
$lineColor: rgb(0, 0, 0);
$fontColor: #bbb;
$bgColor1: #222;
$bgColor2: #444;
$yearBgColor: rgb(231, 231, 231);

$breakpoint: 700px;

* {
  user-select: none;
}

li a {
  text-decoration: none;
  color: $bgColor2;
  font-weight: 600;
}

li a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: circle;
}

* {
  box-sizing: border-box;
}

@media (min-width: 800px) {
  .main {
    padding: 0 5.5rem;
  }
}

mat-panel-title,
mat-action-row {
  font-family: 'Lexend Tera', sans-serif;
}

h1 {
  font-family: 'Lexend Tera', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(12px, 2rem, 100%);
  line-height: 15px;
  margin-top: 6rem;
  text-align: center;
  margin-bottom: clamp(6%, 5%, 10%);
}

.resume {
  color: #333;
  text-decoration: none;
}

mat-expansion-panel mat-action-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 2000px) {
  h1 {
    font-size: 160%;
    line-height: 15px;
    margin-top: 10rem;
    text-align: center;
  }
}

mat-panel-title,
mat-action-row {
  font-size: clamp(0.5rem, 2.5w, 0.2rem);
  line-height: normal;
}

mat-panel-title {
  color: #444;
}

mat-action-row {
  font-weight: 400;
  color: #444;
}

mat-divider {
  margin-bottom: 1rem;
}

.bio,
.hobbies {
  font-size: medium;
}

.bio {
  line-height: 2.5em;
}

@media (max-width:600px) {

  .bio {
    line-height: 3em;
  }

  .bio,
  .hobbies {
    font-size: smaller;
  }
}