<app-navbar></app-navbar>
<h1 i18n>About me</h1>
<div class="main">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Profile
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-action-row>
        <p i18n>
          I'm a 5th year industrial engineering
          student, enthusiastic about technology and
          software development.<br><br>I started studying
          software development a year ago during an
          internship I did to help with a mobile app
          project, since then my interest and passion
          for the area has grown and I haven't stopped
          studying.
        </p>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title i18n>
          Skills
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <p>
          HTML |
          CSS |
          Javascript |
          Typescript |
          Nodejs |
          Express |
          SQL |
          noSQL |
          Angular
        </p>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Highlights
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-action-row>
        <div class="timeline">

          <h2 class="timeline__item timeline__item--year"><span i18n>April 2019 to</span><br> <span i18n>April 2021</span></h2>

          <div class="timeline__item">
            <h3 class="timeline__title" i18n>Internship at Metro de São Paulo</h3>
          </div>

          <h2 class="timeline__item timeline__item--year"><span i18n>July 2021 to</span><br> <span i18n>October 2021</span></h2>

          <div class="timeline__item">
            <h3 i18n class="timeline__title">Bootcamp at Gama Academy</h3>
          </div>

          <h2 class="timeline__item timeline__item--year"><span i18n>January 2022 to</span><br> <span i18n>June 2022</span></h2>

          <div class="timeline__item">
            <h3 i18n class="timeline__title">Bootcamp at SoulCode</h3>
          </div>

        </div>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hobbies
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>

          <div>
            <p i18n>
            I have a certain facility for developing hobbies,
            I will only mention the main ones because I have many. 😅</p>
            <h4 i18n>Amateur Chess ♟️</h4>
            <p i18n>
              I learned to play chess at the age of 7, I practiced constantly
              again in the pandemic and today I have more than a thousand
              matches on <a href="https://www.chess.com/member/ferreiraalvaro" target="_blank">chess.com.</a>
            </p>

            <h4 i18n>Guitar Composer 🎶</h4>
            <p i18n>
              I play guitar since I was 12 years old, I like to listen to all
              kinds of music and I like to create musical arrangements, soon
              I will post it on soundcloud.
            </p>
            <h4 i18n>Podcast Listener 🎙️</h4>
            <p i18n>I can't deny that I spend hours listening to podcasts, my favorite podcasts are:</p>

            <ul>
              <li><a href="https://open.spotify.com/show/5qFSRB3x4SP9xZgr4my7fO" target="_blank">Like A Boss(Alura)</a></li>
              <li><a href="https://open.spotify.com/show/07Ze7DxJjgyS5fsV8lNPSw" target="_blank">Ciencia Sem Fim</a></li>
              <li><a href="https://open.spotify.com/show/5BqnrP8ztYwYnHNtWRXrUs" target="_blank">Amplifica</a></li>
            </ul>

          </div>

      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

          <a style="text-decoration: none; color: #444;" href="https://drive.google.com/file/d/1wnJKyMwzGmK9Lp3bLk7iU6YQXd0RN2wt/view?usp=sharing" target="_blank">
            CV (PDF) 📄
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>
</div>