<app-navbar></app-navbar>
<h1>{{'About me' | translate}}</h1>
<div class="main">
  <mat-accordion class="headers-align">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Who am I?' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-action-row class="bio">
          <div class="bio-margin">
            {{"I'm a software developer at V.tal and currently a production engineering final year student." | translate}}
            <mat-divider></mat-divider>
            {{"My contact with computers dates back to my childhood, my first computer was Windows 98, at that time I was 7 years old and I loved to spend time drawing in Paint or playing games." | translate}}
            <mat-divider></mat-divider>
            {{"My first contact with programming was during adolescence in the RPG Maker software, I had fun creating RPG games and narratives, I didn't create anything very complex, that required more than one line of code but I had a lot of fun." | translate}}
            <mat-divider></mat-divider>
            {{"My interest in pursuing a career in the field of technology emerged during college, the computing subjects in the engineering course always aroused my curiosity and desire to learn more, but it was during an internship that I did that I really fell in love with the area." | translate}}
            <mat-divider></mat-divider>
            {{"At the time, I was doing an internship in the maintenance engineering area at a large urban transport company and there was a lot of demand for digitization of maintenance processes, from database modeling, implementations in SAP, to software development." | translate }}
            <mat-divider></mat-divider>
            {{"Since then I've been studying, highly motivated to learn more and to develop solutions and products that can positively impact people's lives." | translate }}
          </div>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Skills' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
        <p>
          HTML |
          CSS |
          Javascript |
          Typescript |
          Nodejs |
          Express |
          SQL |
          noSQL |
          Angular
        </p>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Highlights' | translate}}
        </mat-panel-title>

      </mat-expansion-panel-header>

      <mat-action-row>
        <div class="timeline">

          <h2 class="timeline__item timeline__item--year"><span>{{'April 2019 to' | translate }}</span><br> <span>{{'April 2021' | translate }}</span></h2>

          <div class="timeline__item">
            <h3 class="timeline__title">{{'Internship at Metro de São Paulo' | translate }}</h3>
          </div>

          <h2 class="timeline__item timeline__item--year"><span>{{'July 2021 to' | translate}}</span><br> <span>{{'October 2021' | translate}}</span></h2>

          <div class="timeline__item">
            <h3 class="timeline__title">{{'Bootcamp at Gama Academy' | translate}}</h3>
          </div>

          <h2 class="timeline__item timeline__item--year"><span>{{'January 2022 to' | translate }}</span><br> <span>{{'June 2022' | translate }}</span></h2>

          <div class="timeline__item">
            <h3 class="timeline__title">{{'Bootcamp at SoulCode Academy' | translate }}</h3>
          </div>

        </div>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Hobbies
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>

          <div class="hobbies">
            <p>
            {{'I have a certain facility for developing hobbies,
            I will only mention the main ones because I have many. 😅' | translate }}</p>
            <h4>{{'Amateur Chess ♟️' | translate }}</h4>
            <p>
              {{'I learned to play chess at the age of 7,
              but I started to practice constantly in the pandemic and today
              I have more than a thousand games on ' | translate }} <a href="https://www.chess.com/member/ferreiraalvaro" target="_blank">chess.com.</a>
            </p>

            <h4>{{'Guitar Player 🎶' | translate }}</h4>
            <p>
              {{'I play guitar since I was 12 years old, I like to listen to all
              kinds of music and I like to create musical arrangements, soon
              I will post it on soundcloud.' | translate }}
            </p>
            <h4>{{'Podcast Listener 🎙️' | translate }}</h4>
            <p>{{"I can't deny that I spend hours listening to podcasts, my favorite podcasts are:" | translate }}</p>

            <ul>
              <li><a href="https://open.spotify.com/show/5qFSRB3x4SP9xZgr4my7fO" target="_blank">Like A Boss(Alura)</a></li>
              <li><a href="https://open.spotify.com/show/07Ze7DxJjgyS5fsV8lNPSw" target="_blank">Ciencia Sem Fim</a></li>
              <li><a href="https://open.spotify.com/show/5BqnrP8ztYwYnHNtWRXrUs" target="_blank">Amplifica</a></li>
            </ul>

          </div>

      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>

          <a style="text-decoration: none; color: #444;" href="https://drive.google.com/file/d/1wnJKyMwzGmK9Lp3bLk7iU6YQXd0RN2wt/view?usp=sharing" target="_blank">
            CV (PDF) 📄
          </a>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

  </mat-accordion>
</div>