<div class="container">
    <header>
        <p class="eyebrow">{{ "ABOUT ME" | translate }}</p>
        <h1>{{ "Who am I?" | translate }}</h1>
        <p class="intro">{{ "about.summary" | translate }}</p>
    </header>

    <section class="content">
        <mat-accordion class="headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ "Bio" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row class="bio">
                    <div class="bio-margin">
                        <div class="bio-margin" [innerHTML]="'bio.description' | translate"></div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ "Professional" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row>
                    <app-professional-timeline></app-professional-timeline>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ "Highlights" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row class="highlights">
                    <app-highlights></app-highlights>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ "Hobbies" | translate }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-action-row class="hobbies">
                    <div class="hobbies">
                        <p>
                            {{ "I have a certain facility for developing hobbies, I will only mention the main ones because I have many. 😅" | translate }}
                        </p>
                        <h4>{{ "Amateur Chess ♟️" | translate }}</h4>
                        <p>
                            {{ "I learned to play chess at the age of 7, but I started to practice constantly in the pandemic and today I have more than a thousand games on " | translate }}
                            <a href="https://www.chess.com/member/ferreiraalvaro" target="_blank" rel="noopener noreferrer">chess.com</a
              >.
            </p>

            <h4>{{ "Guitar Player 🎶" | translate }}</h4>
            <p>
              {{
                "I play guitar since I was 12 years old, I like to listen to all kinds of music and I like to create musical arrangements, soon I will post it on soundcloud."
                  | translate
              }}
            </p>

            <h4>{{ "hobbies.sports.title" | translate }}</h4>
            <p>{{ "hobbies.sports.description" | translate }}</p>
          </div>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
</div>